<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dfc.springmvc.dao.RoleMenuDao">

	<resultMap id="roleMenu" type="com.dfc.springmvc.pojo.RoleMenu">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="role_id" property="roleId" jdbcType="VARCHAR" />
		<result column="menu_id" property="menuId" jdbcType="VARCHAR" />
		<association column="menu_id" property="menu" javaType="com.dfc.springmvc.pojo.Menu"/>
	</resultMap>

	<insert id="saveRoleMenu" parameterType="java.util.List">
		INSERT INTO mvc_role_menu (role_menu_id, role_id, menu_id) VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(REPLACE(UUID(),'-',''), #{item.roleId}, #{item.menuId})
		</foreach>
	</insert>

	<delete id="deleteRoleMenuByMenuId" parameterType="String">
		DELETE FROM mvc_role_menu WHERE menu_id = #{menuId}
	</delete>

	<delete id="deleteRoleMenuByRoleId" parameterType="String">
		DELETE FROM mvc_role_menu WHERE role_id = #{roleId}
	</delete>

</mapper>